<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbr.server.mapper.BoardMapper">
	
	<select id="selectBoardItems" resultType="BoardVo">
		SELECT 
      a.id,
      b.name		                                    AS category,
      a.category                                    AS categoryId,
      c.name		                                    AS type,
      a.type                                        AS typeId,
      title,
      a.description,
      a.type,
      a.image_id          AS imageId,
      d.image,
      d.name              AS imageName,
      d.type              AS imageType,
      d.size              AS imageSize,
      DATE_FORMAT(a.reg_dtime, '%Y-%m-%d %H:%i:%s') AS regDtime
    FROM board a
    JOIN category b
    ON a.category = b.id
    JOIN type c
    ON a.type = c.id
    LEFT JOIN image d
    ON a.image_id = d.id
    <where>
      <if test='typeId != 0'>
        a.type = #{typeId}
      </if>
      <if test="keyword != null">
        AND a.title LIKE CONCAT('%', #{keyword}, '%')
      </if>
    </where>
    ORDER BY a.reg_dtime DESC
    LIMIT #{length} OFFSET #{start}
	</select>

  <select id="selectBoardItemsCount" resultType="int">
    SELECT
      COUNT(a.id)
    FROM board a
    JOIN category b
    ON a.category = b.id
    JOIN type c
    ON a.type = c.id
    <where>
      <if test='typeId != 0'>
        a.type = #{typeId}
      </if>
      <if test="keyword != null">
        AND a.title LIKE CONCAT('%', #{keyword}, '%')
      </if>
    </where>
  </select>

  <select id="selectBoardItem" resultType="BoardVo">
    SELECT 
      a.id,
      b.name		          AS category,
      a.category          AS categoryId,
      c.name		          AS type,
      a.type              AS typeId,
      title,
      description,
      a.type,
      a.image_id          AS imageId,
      d.image,
      d.name              AS imageName,
      d.type              AS imageType,
      d.size              AS imageSize,
      DATE_FORMAT(a.reg_dtime, '%Y-%m-%d %H:%i:%s') AS regDtime
    FROM board a
    JOIN category b
    ON a.category = b.id
    JOIN type c
    ON a.type = c.id
    LEFT JOIN image d
    ON a.image_id = d.id
    WHERE a.id = #{boardId}
  </select>

  <select id="selectBoardImage" resultType="ImageVo">
    SELECT
      id,
      image,
      name,
      size,
      type,
      reg_dtime AS regDtime
    FROM image
    WHERE id = #{imageId}
  </select>

  <insert id="insertBoardItem">
    INSERT INTO board
    (
      title,
      description,
      type,
      category,
      image_id,
      reg_dtime
    )
    VALUES
    (
      #{title},
      #{description},
      #{typeId},
      #{categoryId},
      #{imageId},
      now()
    )
  </insert>

  <delete id="deleteBoardItem">
    DELETE FROM board WHERE id = #{id}
  </delete>

  <update id="updateBoardItem">
    UPDATE board SET
      title = #{title},
      description = #{description},
      image_id = #{imageId},
      reg_dtime = now()
    WHERE id = #{id}
  </update>
</mapper>